<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="extendReport.ExtentTestNGIReporterListener" />
	</listeners>
   <test thread-count="5" name="ChromeBrowser">
		 <parameter name="browserName" value="chrom"></parameter>
		     <classes>
		      <class name="testClass.VerifyDirectory"/>
		       <class name="testClass.VerifyOrange"/>
		     </classes>
		   </test> <!-- Test -->
</suite> <!-- Suite -->
